{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="mymargin" style="height:70px;"></div>
    

<section class="page-section" style="padding: 50px 0px;">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">About Us</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6 col-md-6 text-left">
                <p class="mb-4">Hephzibah Organic Farm is a family-owned USDA-certified organic farm, located at <a href="https://goo.gl/maps/BQBnPdJgS3Bu232Y8">Riverhead, eastern Long Island of New York</a>.</p>
                
            <p class="mb-4">We grow organic mushrooms (shiitake and oyster mushrooms) and vegetables in all seasons, raise free range animals (chickens, ducks, goats, etc.), provide prepared food (ginger duck, organic beef mushroom dumplings, etc.), and host events (e.g. weddings, parties, family gathering, church fellowship, art exhibition, light show, etc.).</p>
            
            <p class="mb-4">Our organic products are certified by USDA and NOFA-NY. We believe in organic farming and the harmonic coexistance of humans and the nature.</p>
            
            <p class="mb-4">We are enthusiastic farmers and hosts: we love hosting and serving families, friends, kids, partners, members, customers, brothers and sisters at all ages, with the land and resources -- they are all gifts from God.</p>
            
            <p class="mb-4">Looking forward to seeing you in the near future!</p>
            
            </div>

            <div class="col-lg-6 col-md-6 text-center">
            <img src="{% static 'img/hfabout.jpg' %}" width="100%" height="auto">
            </div>
        </div>
    </div>
</section>

<script>

</script>


{% endblock %}
