{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="mymargin" style="height:70px;"></div>
    

<section class="page-section" style="padding: 50px 0px;">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Contact Us</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6 col-md-6 text-left">
            <p class="mb-1">Please feel free to contact us for any questions:</p>
            <p class="mb-1"><ul>
                <li class="mb-1"><strong>Email</strong>: HephzibahOrganic@gmail.com</li>
                
                <li><strong>Phone</strong>: (917) 582-7833&emsp;(Membership Service)</li>
                <p class="mb-0" style="margin-left:60px">(917) 582-0868&emsp;(Event Service)</p>
                <p class="mb-1" style="margin-left:60px">(631) 861-4521&emsp;(Customer Service)</p>

                <li><strong>Wechat</strong>: annie744635&emsp;(Annie)</li>
                <p class="mb-1" style="margin-left:70px">LUSEN1972&emsp;(Lusen)</p>

                <li class="mb-1"><strong>Facebook</strong>: <a href="https://www.facebook.com/HephzibahOrganicFarm">@HephzibahOrganicFarm</a></li>

                <li class="mb-1"><strong>Instagram</strong>: <a href="https://www.instagram.com/hephzibahorganicfarm">@hephzibahorganicfarm</a></li>

                <li><strong>Address</strong>: <a href="https://goo.gl/maps/XBHtWDNusBYUY4Xw6">1117 Cross River Dr, Riverhead, NY 11901</a></li>
            </ul></p>
            </div>

            <div class="col-lg-6 col-md-6 text-center">
            <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1wHDa4l_yMHVV_sMplBLlWzp4hQw7OMk&ll=40.928018189167155%2C-72.71954021651989&z=9" width="100%" height="400"></iframe>
            </div>
        </div>
    </div>
</section>

<script>

</script>


{% endblock %}
