{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="mymargin" style="height:70px;"></div>
    

<section class="page-section" style="padding: 50px 0px;">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Upcoming Event</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6 col-md-6 text-left">
                <h5 class="mb-4">"Waste Revival" 2023 Easter Art Exhibition</h5>
                
                <p class="mb-2">April is the season of life, hope and revival, especially after the pandemic in the past three years. The 2023 Easter Art Exhibition will be held on Hephzibah Organic Farm with the topic of "Waste Revival". Welcome to the farm to enjoy the beautiful artwork made by our artists with recycled materials!</p>
                
                <p class="mb-2">Hephzibah Organic Farm is located at the town Riverhead of Long Island, New York. The farm has large open flat land with organic plants and animals, which makes it a lively exhibition site for your artwork.</p>
                
                <p class="mb-4">"Waste Revival" 2023 Easter Art Exhibition is planned by <a href="http://www.tjarts.edu.cn/info/1326/2826.htm">Dr. Qingsong Hao</a>, an artist and professional curator of art exhibitions, based on the concept of Waste Art. Waste is the final state of physical life, and it is also where new life comes from. We will invite 10 artists to create and show their artwork in various art forms, including sculpture, installation art, wall art, ready-made art, painting, gardening and land art. This exhibition will focus on the concept of giving new life to waste.</p>

                <p class="mb-2"><strong>Opening: <font color="green">April 1st, 11am - 1pm</font>.</strong></p>

                <p class="mb-2"><strong>Exhibition: <font color="green">every Friday and Saturday (2pm - 7pm) from April 1st to April 30th</font>.</strong></p>
                
                <p class="mb-4"><strong>Location: <font color="green">1117 Cross river Dr, Riverhead, NY 11901</font>.</strong></p>

                <p class="mb-2">See you in April! Please feel free to <a href="/contact/">contact us</a> for any questions about the art exhibition.</p>
            </div>

            <div class="col-lg-6 col-md-6 text-center">
            <img src="{% static 'img/art_exhibition.jpg' %}" width="100%" height="auto">
            </div>
        </div>
    </div>
</section>

<script>

</script>


{% endblock %}
