{% extends "base.html" %}
{% load static %}
{% block content %}

<style>

.hover-img-div {
  position: relative;
  text-align: center;
}

.hover-img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.hover-img-div:hover .hover-img {
  opacity: 0.3;
}

.hover-img-div:hover .hover-img-text {
  opacity: 1;
}

.events-img {
    height: 300px;
    width: 100% !important;
    overflow-x: scroll;
    white-space:nowrap;
}

.event-img {
    height: 300px !important;
    width: auto;
    display: inline-block;
}


</style>

<!-- Masthead-->
<video autoplay muted loop id="bg_video_in" >
    <!-- <source src="https://drive.google.com/uc?id=1K_JDfkqLQKd0FIje3BcYBznHL0hTnntR&export=download" type="video/mp4"> -->
    <source src="https://drive.google.com/uc?id=136WVxE0aP2VGvfI8Ld2R7kFHhScyOPT2&export=download" type="video/mp4">
</video>

<center>

<header class="masthead">    
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-primary font-weight-bold" style="text-shadow: 0px 0px 10px #fff;">Hephzibah Organic Farm</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-10 align-self-baseline">
                <p class="text-primary mb-5" style="text-shadow: 0px 0px 10px #fff;">He waters the mountains from his upper chambers; 
                <br>
                the land is satisfied by the fruit of his work. 
                <br>
                [Psalm 104:13]</p>
                <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>
</center>



<!-- About-->
<section class="page-section bg-primary" id="about" >
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Have Fresh, Keep Healthy, Be Joyful</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Hephzibah Organic Farm is a family-owned certificated organic farm, located at Riverhead, eastern Long Island of New York. We grow organic mushrooms and vegetables, raise free range animals (chickens, ducks, goats, etc.), provide prepared food (ginger duck, organic beef mushroom dumplings, etc.), and host events (e.g. weddings, parties, family gathering, fellowship, art exhibition, light show, etc.).</p>
                <a class="btn btn-light btn-xl" href="#products">Get Started!</a>
            </div>
        </div>
    </div>
</section>


<!-- Products-->
<section class="page-section" id="products">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Products</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6 col-md-12 text-left">
                <p class="text-dark mb-1">We offer a list of fresh organic food growing from the land:</p>
                    <ul>
                        <li class="mb-1"><strong>Mushroom(蘑菇)</strong>: Shiitake Mushroom (香菇), Oyster Mushroom (蚝菇/平菇), Lion's Mane Mushroom (猴头菇), ...</li>
                    <li class="mb-1"><strong>Vegetable(蔬菜)</strong>: Tomato (西红柿), Cherry Tomato (小番茄), Bok Choy (四季青), Lattuce (生菜), Potato (土豆), Sweet Potato (红薯), Carrot (胡萝卜), Raddish (萝卜), Cabbage (大白菜), Snow Peas (雪豆), Celery (芹菜), Chive (韭菜), Sweet Corn (甜玉米), Eggplant (茄子), Green Pepper (青椒), ...</li>
                    <li class="mb-1"><strong>Squash/Fruit(瓜果)</strong>: Cucumber (黄瓜), Bottle Gourd (葫芦), Zucchini (西葫芦), Pumpkin (南瓜), Watermelon (西瓜), Pear (梨), Date (枣), ... </li>
                    <li class="mb-1"><strong>Microgreens(芽菜)</strong>: Soybean Sprout (黄豆芽), Mung Bean Sprout (绿豆芽), Pea Sprout (豌豆苗), ...</li>
                    <li class="mb-1"><strong>Eggs(蛋类)</strong>: Free Range Chicken Eggs (土鸡蛋), Duck Eggs (鸭蛋), ...</li>
                    <li class="mb-1"><strong>Meat(肉类)</strong>: Farm Chicken (走地鸡), Duck (鸭), Goat (山羊), ...</li>
                    <li class="mb-1"><strong>Prepare food(熟食)</strong>: Ginger Duck (姜母鸭), Beef Mushroom Dumplings (牛肉香菇水饺), ...</li>
                    </ul>
                <p class="mb-1"><a href="/products/">Checkout all products</a></p>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <div class="hover-img-div">
                    <img src="{% static 'img/products_home.jpg' %}" class="hover-img" style="width:100%">
                    <div class="hover-img-text">
                        <a class="btn btn-primary" href="/products/">See all products</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Events -->
<section class="page-section" id="events" style="padding-top:0px; padding-bottom: 60px;">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Events</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <p class="mb-1">Besides of farming and producing organic food, we also host varieous events on the farm: <strong>wedding, birthday party, concert, light show, family gathering, corporate team building, church fellowship, camping, campfire</strong>, and so on. Our Summer Camping Program offer outdoor survival training for youths. In our three large studios, you will learn painting from our professional artists, make handicrafts, and potteries. Our current hosting capacity is up to 150 people per event. Welcome to the farm and enjoy our unique activities! <strong><a href="/events/">Checkout the upcoming event</a></strong> </p>
        </div>
    </div>
</section>

<p class="text-end mb-0" style="color:#777;"><i>scroll right to see more &#8594; </i></p>
    <a href="/events/">
    <div class="events-img">
            {% for event_img in events_img %}
                <img class="event-img" src="{{ event_img }}">
            {% endfor %}
    </div>
    </a>

<!-- Membership -->
<section class="page-section" id="membership">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Membership</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6 col-md-12 text-left">
                <p class="text-dark mb-1">Hephzibah Organic Farm is supported by our loyal members, in a community that we all believe in organic farming. We welcome everyone who shares the same value to join us! Members of Hephzibah Organic Farm enjoy the following benefits:</p>
                    <ul>
                        <li class="mb-1">Members can always buy our organic products with the lowest price.</li>
                        <li class="mb-1">Members have high priority on limited or fresh products, e.g. fresh mushrooms and vegetables, cooked food.</li>
                        <li class="mb-1">We offer delivery or local pick-up service for members only.</li>
                        <li class="mb-1">Members can visit farm at anytime, and have free tour and photo booth.</li>
                        <li class="mb-1">Members have opportunities to join special events, e.g. fresh picking, parent-child activity, cooking campaign etc.</li>
                    </ul>
                <center>
                <a class="btn btn-primary" href="/membership/" style="margin:30px 0px;">Learn more about membership</a>
                </center>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <div class="hover-img-div">
                    <img src="{% static 'img/membership_home.png' %}" class="hover-img" style="width:100%">
                    <div class="hover-img-text">
                        <a class="btn btn-primary" href="/customer/apply-membership">Become a member today</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="page-section" id="contact" style="padding:0px;">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Let's Get In Touch!</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">Ready to start your journey with us? Send us a messages and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputName" name="fullname" type="text" placeholder="Enter your name..." required/>
                        <label for="inputName">Full name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputEmail" name="email" type="email" placeholder="name@example.com" required/>
                        <label for="inputEmail">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputPhone" name="phone" type="tel" placeholder="(123) 456-7890" />
                        <label for="inputPhone">Phone number</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="inputMessage" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem" required></textarea>
                        <label for="inputMessage">Message</label>
                    </div>
                    <div class="d-grid"><button class="btn btn-primary btn-xl" name="feedback" type="submit">Submit</button></div>
                </form>
            </div>
        </div>

    </div>
</section>

<script>

    // var res = {{ request | safe }};
    // $('#request_content').html( res );

    $(document).on('click', '.navbar-brand', function() {
        $.ajax({
            type: 'POST',
            async: true, 
            url: window.location.pathname,
            dataType: 'json',
            data:  { 'click_logo': '', 
                csrfmiddlewaretoken: '{{ csrf_token }}' }, 
            success: function(response) {
                document.body.style.cursor = 'default';
            },
            error: function(XMLHttpRequest, textStatus, errorinfo) {
                alert(errorinfo);
            }
        }); 
    });

    $(document).on('click', '.nav-link', function() {
        $.ajax({
            type: 'POST',
            async: true, 
            url: window.location.pathname,
            dataType: 'json',
            data:  { 'click_menu': this.text, 
                csrfmiddlewaretoken: '{{ csrf_token }}' }, 
            success: function(response) {
                document.body.style.cursor = 'default';
            },
            error: function(XMLHttpRequest, textStatus, errorinfo) {
                alert(errorinfo);
            }
        }); 
    });

    $(document).on('click', '.btn-xl', function() {
        if (this.type != 'submit') {
            $.ajax({
                type: 'POST',
                async: true, 
                url: window.location.pathname,
                dataType: 'json',
                data:  { 'click_button': this.text, 
                    csrfmiddlewaretoken: '{{ csrf_token }}' }, 
                success: function(response) {
                    document.body.style.cursor = 'default';
                },
                error: function(XMLHttpRequest, textStatus, errorinfo) {
                    alert(errorinfo);
                }
            }); 
        }
    });    

    $(document).on('click', '.portfolio-box', function() {
        $.ajax({
            type: 'POST',
            async: true, 
            url: window.location.pathname,
            dataType: 'json',
            data:  { 'click_portfolio_box': this.title, 
                csrfmiddlewaretoken: '{{ csrf_token }}' }, 
            success: function(response) {
                document.body.style.cursor = 'default';
            },
            error: function(XMLHttpRequest, textStatus, errorinfo) {
                alert(errorinfo);
            }
        }); 
    });    

</script>


{% endblock %}



