{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-1" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top">
            <img src="static/img/hf_logo.png" id="logo2">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#products">Products</a></li>
                <li class="nav-item"><a class="nav-link" href="#events">Events</a></li>
                <li class="nav-item"><a class="nav-link" href="#membership">Membership</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- Masthead-->
    <video autoplay muted loop id="bg_video_in" >
        <source src="https://drive.google.com/uc?id=1K_JDfkqLQKd0FIje3BcYBznHL0hTnntR&export=download" type="video/mp4">
    </video>


<center>
<header class="masthead">    
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-light-green font-weight-bold">Hephzibah Organic Farm</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-10 align-self-baseline">
                <p class="text-light-green mb-5">He waters the mountains from his upper chambers; the land is satisfied by the fruit of his work. [Psalm 104:13]</p>
                <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>
</center>



<!-- About-->
<section class="page-section bg-primary" id="about" >
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Have Fresh, Keep Healthy, Be Joyful</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Hephzibah Organic Farm is a family-owned farm, located at Riverhead, eastern Long Island of New York. We grow organic mushrooms and vegetables, raise free range animals (chickens, ducks, goats), provide prepared food (e.g. ginger duck, organic beef mushroom dumplings, etc.), and host events (e.g. weddings, parties, family gathering, fellowship, art exhibition, light show, etc.).</p>
                <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>


<!-- Products-->
<section class="page-section" id="products">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Products</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-shop-window fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Food</h3>
                    <p class="text-muted mb-0">on sale</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-shop-window fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Food</h3>
                    <p class="text-muted mb-0">on sale</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-shop-window fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Food</h3>
                    <p class="text-muted mb-0">on sale</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-shop-window fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Food</h3>
                    <p class="text-muted mb-0">on sale</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Events -->
<div id="events">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" href="static/img/events/e1.png" title="event">
                    <img class="img-fluid" src="static/img/events/e1.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Event</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" href="static/img/events/e2.png" title="event">
                    <img class="img-fluid" src="static/img/events/e2.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Event</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" href="static/img/events/e3.png" title="event">
                    <img class="img-fluid" src="static/img/events/e3.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Event</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" href="static/img/events/e4.png" title="event">
                    <img class="img-fluid" src="static/img/events/e4.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Event</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Membership -->
<section class="page-section" id="membership">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Membership</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-shop-window fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">member benefit</h3>
                    <p class="text-muted mb-0">on sale</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-shop-window fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">member benefit</h3>
                    <p class="text-muted mb-0">on sale</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-shop-window fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">member benefit</h3>
                    <p class="text-muted mb-0">on sale</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-shop-window fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">member benefit</h3>
                    <p class="text-muted mb-0">on sale</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Let's Get In Touch!</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">Ready to start your journey with us? Send us a messages and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputName" name="fullname" type="text" placeholder="Enter your name..." required/>
                        <label for="inputName">Full name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputEmail" name="email" type="email" placeholder="name@example.com" required/>
                        <label for="inputEmail">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputPhone" name="phone" type="tel" placeholder="(123) 456-7890" />
                        <label for="inputPhone">Phone number</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="inputMessage" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem" required></textarea>
                        <label for="inputMessage">Message</label>
                    </div>
                    <div class="d-grid"><button class="btn btn-primary btn-xl" name="feedback" type="submit">Submit</button></div>
                </form>
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 justify-content-center">

            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                <i class="bi-envelope fs-2 mb-3 text-muted"></i>
                <div>hephzibahorganic@gmail.com</div>
            </div>

            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                <i class="bi-phone fs-2 mb-3 text-muted"></i>
                <div>+1 (631) 861-4521</div>
            </div>

        </div>

    </div>
</section>

<script>

    // var res = {{ request | safe }};
    // $('#request_content').html( res );

    $(document).on('click', '.navbar-brand', function() {
        $.ajax({
            type: 'POST',
            async: true, 
            url: window.location.pathname,
            dataType: 'json',
            data:  { 'click_logo': '', 
                csrfmiddlewaretoken: '{{ csrf_token }}' }, 
            success: function(response) {
                document.body.style.cursor = 'default';
            },
            error: function(XMLHttpRequest, textStatus, errorinfo) {
                alert(errorinfo);
            }
        }); 
    });

    $(document).on('click', '.nav-link', function() {
        $.ajax({
            type: 'POST',
            async: true, 
            url: window.location.pathname,
            dataType: 'json',
            data:  { 'click_menu': this.text, 
                csrfmiddlewaretoken: '{{ csrf_token }}' }, 
            success: function(response) {
                document.body.style.cursor = 'default';
            },
            error: function(XMLHttpRequest, textStatus, errorinfo) {
                alert(errorinfo);
            }
        }); 
    });

    $(document).on('click', '.btn-xl', function() {
        if (this.type != 'submit') {
            $.ajax({
                type: 'POST',
                async: true, 
                url: window.location.pathname,
                dataType: 'json',
                data:  { 'click_button': this.text, 
                    csrfmiddlewaretoken: '{{ csrf_token }}' }, 
                success: function(response) {
                    document.body.style.cursor = 'default';
                },
                error: function(XMLHttpRequest, textStatus, errorinfo) {
                    alert(errorinfo);
                }
            }); 
        }
    });    

    $(document).on('click', '.portfolio-box', function() {
        $.ajax({
            type: 'POST',
            async: true, 
            url: window.location.pathname,
            dataType: 'json',
            data:  { 'click_portfolio_box': this.title, 
                csrfmiddlewaretoken: '{{ csrf_token }}' }, 
            success: function(response) {
                document.body.style.cursor = 'default';
            },
            error: function(XMLHttpRequest, textStatus, errorinfo) {
                alert(errorinfo);
            }
        }); 
    });    

</script>


{% endblock %}



